

body {
    font-family: 'Crimson text';
    line-height: 1.6;
    background-color: #1a121c;
    color: #e6dccf;
    padding: 0;
   
}

p {
  line-height: 1.5;
}
#navConteneur {
  padding: 15px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  -webkit-box-shadow: 10px 10px 11px 4px #dddab0; 
  box-shadow: 0px 5px 10px #aea175;

}


.logo {  
  display: flex;
  align-items: center; 
  gap: 10px; 
  margin-bottom: 20px;
  height: 50px; 
  margin: 0;
  font-size: 20px;
}

.logoimg{
width: 6.5vw;
margin-left: -26px;
}

.nomJournal{
  font-size: 1.7rem;
  margin-left: -20px;
  
}

.mysteres{
    
    text-decoration: none;
    color: #DAA520;
}

.mysteres:hover {
    color: #e3dfd4;
   
-webkit-transform: scale(1.5); 
transform: scale(1.5);
}


.occulte, .arts, .fiction{
text-decoration: none;
 color: #DAA520;
}
.occulte:hover, .arts:hover, .fiction:hover {
    color: #e3dfd4;
-webkit-transform: scale(1.5); 
transform: scale(1.5);
}


#texteAppelAction{
  display: flex;
  all: unset;
  width: 80px;
  height: 19px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #ebc799;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#texteAppelAction::after,
#texteAppelAction::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

#texteAppelAction::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #382a3b;
  border-radius: 10px;
}

#texteAppelAction::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #DAA520;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

#texteAppelAction:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

#texteAppelAction:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

#texteAppelAction:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}


.avatar{
   width: 80px;
   height: 80px;
   border-radius: 100%;
   border: 2px solid #DAA520;
   object-fit: cover;
}

.divThemes{
    display: flex;
    width: 93%;
    height: 250px;
    gap: 50px;
    margin-left: 44px;
    font-size: 1rem;
}

.divThemes h2{
     color: #DAA520;
}

.TitreArticleP{
    text-align: center;
}


#headerConteneur {

    margin-top: 10px;
    text-align: center;
    font-size: 1.7rem;
    font-style: italic;
    overflow: hidden;
    animation: typing 2s steps(20), blink 1s infinite;    
    -webkit-box-shadow: 10px 10px 11px 4px #dddab0; 
     box-shadow: 0px 5px 10px #aea175;
}


@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.titreTheme{
    color: #DAA520;

}
.titreTheme:hover {
    color: #e3dfd4;
    -ms-transform: scale(1.5);
-webkit-transform: scale(1.5);
transform: scale(1.5);
}


.TitreArticleP{
    text-align: center;
    font-size: 2.2rem;
    font-weight: bolder;
    
}

.imgArticleP{
    object-fit: cover;
    width: 100%;
    height: 80vh;
}

.dateArticleP{
    font-size: 1.6rem;
    text-decoration: wavy;
    color: #DAA520;
    margin-left: 30px;
}

.descriptionArticle{
    font-size: 1.2rem;
    margin-left: 30px;
}

#articleRecentConteneur .btn-lire-article{
      margin-left: 30px;
}

#articleRecentConteneur{
    padding-bottom: 60px;
    padding-top: 30px;
  -webkit-box-shadow: 5px 0px 11px 4px #dddab0; 
  box-shadow: 0px 5px 10px #aea175;
}

#autresConteneurs{
 margin-top: 33px;
}

.btn-lire-article{
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: #e6dccf;
  background: #1a121c;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-lire-article:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ddd9b0,
    #312e00,
    #DAA520,
    #ddd9b0,
    #48284d,
    #100a11,
    #2f0260,
    #1a121c,
    #DAA520

    
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-btn-lire-article 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-btn-lire-article {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btn-lire-article:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}




#titreEquipe{
  font-size: 1.7rem;
}
.divAuteurs{
    display: flex;
    padding-top: 190px;;
    width: 100%;
    font-size: 1.2rem;
    
}

.carteAuteur{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
 
}

.prenomAuteurs{
  font-weight: 900;
}
.avatarAuteurs{
    width: 40%;
    height: 40%;
   border-radius: 100%;
   border: 2px solid #DAA520;;
   object-fit: cover;
}

.divArticles {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.carteArticles {
  width: 300px;
  border: 1px solid #b69fa4;
  padding: 10px;
  text-align: center;
  background-color: #2d1b2e;
}

.carrousel-slide p{
  color: #DAA520;
}

.imgArticlesAutre {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

#autresArticles {
    text-align: center;
    font-size: 2.2rem;
}

.cartesAuteurs .presentationAuteurs {
    display: block;
    width: 100%;
}

#titreEquipe{
  transform: translateY(-600px);
    text-align: center;
    margin-top: 66px;
}
#footerConteneur {

    color: #DAA520;
    text-align: center;

    margin-top: -30px;
}

.carrousel-slide {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 1rem;  border: 1px solid #b69fa4;
  padding: 10px;
  text-align: center;
  background-color: #2d1b2e;
}
.carteArticles {
  width: 300px;

}

#carrouselSection {
  width: 100%;
  overflow: hidden;
  padding: 40px 0;
}

.carrousel-container {
  position: relative;
  width: 100%;
  max-width: 1000px; 
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.carrousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrousel-images img {
  width: 100%;
  flex-shrink: 0;
  height: auto;
  border-radius: 8px;
  max-height: 500px;
  object-fit: cover;
   
 
}

.carrousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2d1b2e;
  color: #DAA520;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.carrousel-btn.left {
  left: 10px;
}

.carrousel-btn.right {
  right: 10px;
}

.carrousel-btn:hover {
  background-color: #DAA520;
  color: #2d1b2e;
}

.carrousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carteArticles {
  flex: 0 0 90%;

}

.article-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #2d1b2e;
  color: #e6dccf;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 2rem;

}

.article-fullscreen p {
  color: #DAA520;
}

.carte-article-large {
   position: relative; 
  background: #2d1b2e;
  padding: 2rem;
  border-radius: 12px;
  max-width: 600px;
  width: 100%;
  text-align: center;
    padding: 1rem;  border: 1px solid #b69fa4;
}

.carte-article-large img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
  color: #DAA520;
  cursor: pointer;
}

.boutonAleatoire{
  transform: translateY(-660px);
  text-align: center;
  display: block;
  margin: 2rem auto;
  background-color: #2d1b2e;
  color: #DAA520;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #555;
  border-radius: 6px;
  text-shadow: 0 0 12px #50472e, 0 0 24px #fff;
  transition: box-shadow 0.3s;
}

.boutonAleatoire:hover {
  box-shadow: 0 0 15px #fff;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    .article h2 {
        font-size: 1.2rem;
    }
}